
.container{
    background-color: #4AD4A7;
    height: 1000%;
    width: 100%;
}
.card{
    padding: 2%;
    margin: 2%;
    height: 95%;
}
.col-md-4, .col-md-sm-6{
    padding: 0;
}
.card-img-top{
    height: 50%;
}
.row{
    margin-left: 0;
    padding: 0;
}