<div class="container">
  <div class="row col-md-12">
    <div *ngFor="let tree of trees" class="col-md-4 col-md-sm-6">
      <div class="card " >
        <img src="{{tree.image}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{tree.name}}</h5>
          <p class="card-text">
            <strong>Altura max: </strong>{{tree.height}}<br>
            <strong>Clasificacion: </strong>{{tree.classification}}<br>
          </p>
          <a  class="btn btn-primary" routerLink="/add-tree/{{tree.id}}">Editar</a>&nbsp;
          <a  class="btn btn-danger" (click)="delete(tree.id)">Eliminar</a>
        </div>
    </div>

    <!-- <div class="col"> -->
    <!-- <table class="table col-sm-12">
              <thead>
                <tr>
                    <th class="col-sm-3">Image</th>
                    <th class="col-md-1">ID</th>
                    <th class="col-sm-3 ">Name</th>
                    <th class="col-sm-1 ">Height</th>
                    <th class="col-sm-3 ">Classification</th>
                    <th class="col-sm-2">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let tree of trees">
                  <td ><img class="image" src="{{tree.image}}" alt=""></td>
                  <td>{{tree.id}}</td>
                  <td><strong>{{tree.name}}</strong></td>
                  <td><strong>{{tree.height}}</strong></td>
                  <td><strong>{{tree.classification}}</strong></td>
                  <td class="row">
                      <a class="btn btn-primary align-self-center" routerLink="/add-tree/{{tree.id}}">Editar</a><br>
                      <a class="btn btn-danger align-self-center" (click)="delete(tree.id)">Eliminar</a>
                  </td>
                </tr>
              </tbody>
            </table> -->
    <!-- </div> -->
  </div>
</div>

<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Height</th>
      <th scope="col">Classification</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tree of trees">
      <td>{{tree.id}}</td>
      <th>{{tree.name}}</th>
      <td>{{tree.height}}</td>
      <td>{{tree.classification}}</td>
      <td>
          <a class="btn btn-primary" routerLink="/add-tree/{{tree.id}}">Editar</a>
          <a class="btn btn-danger" (click)="delete(tree.id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table> -->