<div class="container">
  <div class="box">
      <form>
          <div class="row">
            <div class="col-md-6">
                <img class="element col-md-12" src="../../assets/img/kisspng-tree-of-life-drawing-clip-art-love-wood-5ac04d4b954722.3893488815225521396115.png" alt="Smiley face">
            </div>
            <div class="col-md-6">
                <div class="mini-Box">
                    <h2>Escriba el correo a recuperar, para que le enviemos un email de verificación.</h2>
                    <br>
                      <form>
                          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Correo" required>
                        <br>
                          <input type="email" class="form-control" id="emailconfirmation" placeholder="Confirmar Correo" required>
                        <br>
                          <button type="submit" class="btn btn-primary" routerLink="/login">Enviar Correo</button>
                      </form>
                    <br>
                      <label for="createCount">¿Ya tiene cuenta? inicie sesión</label>
                      <br>
                      <u routerLink="/login">Iniciar Sesión</u>
                </div>
            </div>
          </div><br>
          <h1>Bienvenido a</h1>
          <h1>Conservación de Árboles</h1>
        </form>
  </div>
</div>