.container{
    background-color: #4AD4A7;
    padding: 40px;
}
.row{
    background-color: #34F088;
    padding: 30px;
}
.col{
    background-color: #69D99A;
    padding: 20px;
}
h3{ 
    text-align: center;
    font-family: Cardo;
    color: #47525E;
}
h4{
    float: left;
    color: #47525E;
}
h5{
    font-family: Cardo;
    text-align: center;
    color: #47525E;
}
h6{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #47525E;
}