<div class="container">
        <h4>Grupo A:</h4>
        <h3>Clima Tropical</h3>
    <div class="row">
        <div class="col">
            <h5>Tropical Húmedo</h5>
            <h6>Es un clima cálido, pero con presencia regular de lluvias: la precipitación anual supera los 150 centímetros.</h6>
        </div>
        
        <div class="col">
            <h5>Tropical Húmedo y seco</h5>
            <h6>También se conoce como sabana tropical. En este caso, las temperaturas varían de forma moderada, pero suelen ser cálidas a calurosas.</h6>
        </div>
    </div>
    <br>
    <h4>Grupo B:</h4>
            <h3>Clima Seco</h3>
    <div class="row">
            
        <div class="col">
            <h5>Árido</h5>
            <h6>Aunque es un clima caluroso, es más moderado que el clima árido. Las regiones con este clima se ubican entre las que tienen un clima árido y las que experimentan climas tropicales.</h6>
        </div>
        <br>
        <div class="col">
            <h5>Semiárido</h5>
            <h6>Los veranos son calientes a muy calientes y los inviernos son frescos o templados. Las precipitaciones son bajas.</h6>
        </div>
    </div>  
    <br>
    <h4>Grupo C:</h4>
            <h3>Clima Moderado</h3>
    <div class="row">
            
        <div class="col">
            <h5>Mediterráneo</h5>
            <h6>Es un clima cálido a caluroso. Mientras que los inviernos son lluviosos, los veranos son secos.</h6>
        </div>
        <br>
        <div class="col">
            <h5>Subtropical Húmedo</h5>
            <h6>Experimentan veranos húmedos y calurosos e inviernos fríos. Las precipitaciones están distribuidas de forma regular durante el año, pero es común la presencia de huracanes.</h6>
        </div>
        <div class="col">
            <h5>Marino de la costa oeste</h5>
            <h6>Los inviernos son frescos a templados y los veranos son cálidos, con presencia de lluvias moderadas la mayor parte del año.</h6>
        </div>
    </div>
    <br>
    <h4>Grupo D:</h4>
            <h3>Clima Continental</h3>
    <div class="row">
            
        <div class="col">
            <h5>Continental Húmedo</h5>
            <h6>Las regiones con este clima tienen veranos moderados a calientes e inviernos fríos. Durante todo el año, la diferencia de temperaturas puede ser por debajo de -3° a 22° centígrados.</h6>
        </div>
        <br>
        <div class="col">
            <h5>Subártico</h5>
            <h6>Una zona con este clima tiene veranos frescos e inviernos fríos. La mayor parte de sus precipitaciones ocurren durante el verano.</h6>
        </div>
    </div>
    <br>
    <h4>Grupo E:</h4>
            <h3>Clima Polar</h3>
    <div class="row">
            
        <div class="col">
            <h5>Tundra</h5>
            <h6>Su clima es seco y el suelo está regularmente cubierto con permafrost, una capa de hielo.</h6>
        </div>
        <br>
        <div class="col">
            <h5>Capa de Hielo</h5>
            <h6>Es el clima más frío que tiene la Tierra, pues las temperaturas pocas veces están por encima del punto de congelación.</h6>
        </div>
    </div>
    <br>
    <h4>Grupo H:</h4>
            <h3>Clima de tierras altas(Cumbres)</h3>
    <div class="row">
            
        <div class="col">
            <h5>Elevación</h5>
            <h6>Está presente en terrenos montañosos muy elevados, naturalmente. Las zonas con este clima experimentan rápidos cambios de elevación, lo que ocasiona cambios climáticos rápidos en distancias cortas.</h6>
        </div>
    </div>
</div>