.container{
    background-color: #4AD4A7;
    padding: 40px;
}
.box{
    background-color: #34F088;
    padding: 30px;
}
.miniBox{
    background-color: #69D99A;
    padding: 20px;
}
h1{
    font-family: Cardo;
    color: #47525E;
}
h3{ 
    font-family: Cardo;
    color: #47525E;   
}
h5{
    color: #47525E;
}
h6{
    font-family: Cardo;
    color: #47525E;
}