<div class="container">
  <div class="box">
    <h3>Clasificación de los árboles según el xilema, cambium y corteza</h3>
    <br>
    <div class="miniBox">
      <h5>•	Árboles Planifolio o latifolio</h5>
      <h6>Árboles que tienen las hojas anchas y plantas.</h6>
    </div>
    <br>
    <div class="miniBox">
        <h5>•	Árboles Coníferas</h5>
        <h6>Son denominados así porque llevan sus semillas en estructuras especializadas llamadas conos.</h6>
    </div>
    <br>
    <div class="miniBox">
        <h5>•	Árboles Perennefolios</h5>
        <h6>Se denomina así a este grupo porque pese a los cambios de temporada, sus especies siempre mantienen su follaje.</h6>
    </div>
    <br>
    <div class="miniBox">
        <h5>•	Árboles Caducifolios</h5>
        <h6>Se denominan así porque los arboles pierden su follaje durante alguna temporada del año, la cual coincide con la estación más fría, que es el invierno.</h6>
    </div>
    <br>
    <div class="miniBox">
        <h5>•	Palmeras</h5>
        <h6>En el sentido estricto de la botánica no están clasificados como árboles, pero dentro de la jardinería se les denomina como especies arbóreas.</h6>
    </div>
    <br>
    <h3>Clasificación de los árboles Gimnospernas y Angiospermas</h3>
    <br>
    <div class="miniBox">
        <h5>•	Gimnospernas</h5>
        <h6>Son plantas productoras de semillas, es decir que poseen vasos conductores y flores, pero no frutos; debido a que no se forman en un ovario cerrado, sino que están desnudas.</h6>
    </div>
    <br>
    <div class="miniBox">
        <h5>•	Angiospermas</h5>
        <h6>Forman un grupo más extenso y, al contrario de la gimnosperma, éste sí cuenta con frutos además de los vasos conductores y flores.</h6>
    </div>
  </div>
</div>