<div class="container">
  <div class="box">
    <div>
      <div class="row">
        <div class="col">
          <label for="nameTree">Nombre</label>
          <input [(ngModel)]="tree.name" type="text" name="name" class="form-control" placeholder="Añadir Nombre">
          <div class="form-group">
            <label for="clasification">Clasificación</label>
            <select class="form-control" [(ngModel)]="tree.classification" id="exampleFormControlSelect1"
              name="classification">
              <option>Árboles Planifolio o latifolio</option>
              <option>Árboles Coníferas</option>
              <option>Árboles Perennefolios</option>
              <option>Árboles Caducifolios</option>
              <option>Palmeras</option>
              <option>Gimnospernas</option>
              <option>Angimnospernas</option>
            </select>
          </div>
          <div class="form-group">
            <label for="height">Altura</label>
            <input [(ngModel)]="tree.height" type="text" class="form-control" name="height"
              placeholder="Añade la altura que pueden alcanzar">
          </div>

          <div class="form-group">
              <label for="weather">Clima</label>
              <select class="form-control" [(ngModel)]="tree.weather" name="weather" id="listWeather">
                <option>Clima Tropical</option>
                <option>Clima Seco</option>
                <option>Clima Moderado</option>
                <option>Clima Continental</option>
                <option>Clima Polar</option>
                <option>Clima de tierras altas(Cumbres)</option>
              </select>
          </div>
          <!-- <div class="form-group">
                    <label for="weather">Clima</label>
                    <select class="form-control" [(ngModel)]="tree" id="listWeather">
                      <option>Clima Tropical</option>
                      <option>Clima Seco</option>
                      <option>Clima Moderado</option>
                      <option>Clima Continental</option>
                      <option>Clima Polar</option>
                      <option>Clima de tierras altas(Cumbres)</option>
                    </select>
                </div> -->
          <!-- <div class="form-group">
                    <label for="region">Región</label>
                    <select class="form-control" id="listRegion">
                      <option>Tropical Húmedo</option>
                      <option>Tropical Húmedo y seco</option>
                      <option>Árido</option>
                      <option>Semiárido</option>
                      <option>Mediterráneo</option>
                      <option>Subtropical Húmedo</option>
                      <option>Marino de la costa oeste</option>
                      <option>Continental Húmedo</option>
                      <option>Subártico</option>
                      <option>Tundra</option>
                      <option>Capa de Hielo</option>
                      <option>Elevación(Cumbres)</option>
                    </select>
                </div> -->
        </div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <input [(ngModel)]="tree.image" type="text" class="form-control" id="image" name="image"
        placeholder="Enter image url">
    </div>
    <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Features</span>
      </div>
      <textarea [(ngModel)]="tree.features" class="form-control"></textarea>
    </div>
    <br />
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Note</span>
      </div>
      <textarea [(ngModel)]="tree.note" class="form-control"></textarea>
    </div>
    <button (click)="saveTree()" class="btn btn-primary">Register</button>
  </div>
</div>

<!-- 
<div>
  <div class="form-group">
    <input [(ngModel)]="tree.name" type="text" class="form-control" id="name" name="name"
      placeholder="Enter name tree">
  </div>
  <div class="form-group">
    <input [(ngModel)]="tree.height" type="number" class="form-control" id="height" name="height"
      placeholder="Enter height tree">
  </div>
  <div class="form-group">
    <input [(ngModel)]="tree.classification" type="text" class="form-control" id="classification" name="classification"
      placeholder="Enter classification tree">
  </div>
  <div class="form-group">
    <input [(ngModel)]="tree.image" type="text" class="form-control" id="image" name="image"
      placeholder="Enter image tree">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Features</span>
    </div>
    <textarea [(ngModel)]="tree.features" class="form-control"></textarea>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Note</span>
    </div>
    <textarea [(ngModel)]="tree.note" class="form-control"></textarea>
  </div>
  <br />
  <button (click)="saveTree()" class="btn btn-primary">Register</button>
</div> -->