.container{
    background-color: #4AD4A7;
    padding: 40px;
}
.box{
    background-color: #9AE4DD;
    padding: 40px;
}
.col{
    width: 50px;
    text-align: center;
}
label{
    font-family: Cardo;
    color: #47525E; 
    font-size: 18px;
}
textarea{
    resize:none;
}
button{
    background-color: #47525E;
    float: right;
}