.element{
    height: 100%;
    width: 100%;
}
.box{
    padding: 20px;
}
.mini-Box{
    padding: 7%;
    background-color: #6EF7CA;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.container{
    background-color: #4AD4A7;
    height: 100%;
    width: 100%;
}
h1{
    font-family: Cardo;
    color: #47525E;
}
u{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #47525E;
}
button{
    background-color: #47525E;
}
col{
    width: 100%;
    height: 100%;
}
row{
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    
  }