<div class="container">
  <div class="box">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <img class="element col-md-12 "
          src="../../assets/img/kisspng-tree-of-life-drawing-clip-art-love-wood-5ac04d4b954722.3893488815225521396115.png"
          alt="Smiley face">
      </div>
      <div class="col-md-6">
        <div class="mini-Box">
          <h1>Inicio de Sesión</h1>
          <br>
          <form #loginForm=ngForm (ngSubmit)="onSubmit()">
            <div class="alert alert-danger" [hidden]="!error">
              {{error}}
            </div>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
              placeholder="Correo" [(ngModel)]="form.email" required>
            <br>
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña"
              [(ngModel)]="form.password" required>
            <br>
            <button type="submit" class="btn btn-primary">Empezar</button>
          </form>
          <br>
          <br>
          <label for="createCount">¿No tiene cuenta? Cree una</label>
          <br>
          <a style="cursor:pointer;" routerLink="/add-users">Crear Cuenta</a>
        </div>
      </div>
    </div><br>
    <h1>Bienvenido a</h1>
    <h1>Conservación de Árboles</h1>
  </div>
</div>