<div class="container">
  <div class="box">
    <div class="row">
      <div class="col-md-6">
        <img class="element col-md-12"
          src="../../assets/img/kisspng-tree-of-life-drawing-clip-art-love-wood-5ac04d4b954722.3893488815225521396115.png"
          alt="Smiley face">
      </div>
      <div class="col-md-6">
        <div class="mini-Box">
          <h2>Crear Cuenta</h2>
          <br>
          <form #addusersForm="ngForm" (ngSubmit)="onSubmit()">
            <input type="text" class="form-control" name="name" id="name" placeholder="Nombre" [(ngModel)]="form.name">
            <br>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
              placeholder="Correo" [(ngModel)]="form.email" required>
            <br>
            <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña"
              [(ngModel)]="form.password">
            <br>
            <button type="" class="btn btn-primary">Crear Cuenta</button>
          </form>
          <br>
          <label for="createCount">¿Ya tienes cuenta?</label>
          <br>
          <a style="cursor:pointer;" routerLink="/login">Iniciar Sesión</a>
        </div>
      </div>
    </div>
    <h1>Bienvenido a</h1>
    <h1>Conservación de Árboles</h1>
  </div>
</div>