<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/login">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="tree" *ngIf="loggedIn">Árboles <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="weather" *ngIf="!loggedIn">Climas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="classification" *ngIf="!loggedIn">Clasificación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-tree" tabindex="-1" aria-disabled="true">Añadir Árbol</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="add-users" tabindex="-1" aria-disabled="true" *ngIf="loggedIn">Cuenta</a>
        </li>
      </ul>
    </div>
  </nav>
</div>